<launch>
<arg name="path_to_bag" default=""/>

<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg path_to_bag)"/>

<node pkg="ip_rosbag_to_img" type="IpRosbag2Img.py" name="img_saver" output="screen">
    <param name="path_to_save" type="string" value="$(arg path_to_bag)"/>
</node>

</launch>